*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
elpa
irony
projectile-bookmarks.eld
.python-environments
.lsp
gopkgs
image-dired
recentf
games
bookmarks
/lisp/
/custom.el
/session.*
/network-security.data
